
@{
    ViewBag.Title = "Email Not Yet Confirmed";
}

<h2>@ViewBag.Title</h2>
<div>
    <p>
        Your email address is not yet confirmed for your account. Please check your email for a confrimation link to verify your account.
    </p>
</div>

